<style>
  .container {
    width: 800px;
    font-family: Arial, Helvetica, sans-serif;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  span {
    margin: 10px
  }
</style>

<div class="container">
  Olá {{name}}!

  <br />

  <span>Você solicitou uma alteração de senha.</span>
  <span>Para realizar a troca, clique no link
    <a href={{link}}>{{link}}</a></span>


  <span>Caso não tenha sido você quem solicitou a alteração, ignore este e-mail</span>

  <strong>Obrigado</strong>

  <h3>Equipe | <strong>Rentx</strong></h3>
</div>